*{
    overflow-x: hidden;
}
.body{
    background-image: url("./stars.jpg");
}
#header,#history,#physists,#theories,#Contact{
  height:700px;
  overflow-y:hidden;
}
#bg-img{
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 300px;
  max-width: 100%;
  height: auto;
}
#click{
    cursor:pointer;
}
#card-f{
    margin-bottom: 5px;
}
#history{
    margin-top: -50px;
}
 #history span{
padding:10px 20px 10px 20px;
}
#history hr
{
    border-width: 3px;
    margin-top: 6px;
}
#physists {
    margin-top: 6px;
}
#physists span{
    padding:10px 20px 10px 20px;
}
#physists hr{
    border-width: 3px;
}
#theories span{
    padding:10px 20px 10px 20px;
}
#theories  hr{
    border-width: 3px;
    margin-top: 6px;
}
#theories  .card{
 border-top: 3px solid rgb(210, 78, 78);

}
#Contact span{
    padding:10px 20px 10px 20px;
}
#Contact hr{
    border-width: 3px;
    margin-top: 6px;
}
.footer{text-align: center;}
.licence{
    text-align: center;
}
@media screen and (max-width: 991px) {
    #header,#history,#physists,#theories,#Contact{
        height:auto;
      }
  }
